*
{
    margin: 0;
    padding: 0;
}
.center
{
    margin: auto ;
    text-align: center;
}
.scroll1
{
    overflow-y: scroll;
    height: 90vh;
}
.right-scroll
{
    height: 90vh;
    overflow-y: scroll;
}
.right-scroll::-webkit-scrollbar
{
    display: none;
}
/* .snack-ladder {
    display: flex;
    flex-wrap: wrap;
    width: 500px; 
} */
/* 
.white-block {
    width: 50px;
    height: 50px;
    background-color: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
} */
/* 
.black-block {
    width: 50px;
    height: 50px;
    background-color: black;
    color: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
} */